div{
    width: 100%;
    max-width: 500px;
    max-height: 200px;
    overflow:scroll;
    float: left;
    border: 10px solid blue;
    /* padding: 25px 15px 20px 10px; */
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 15px;
    margin: 40px;
    background-color: rgb(234, 240, 61);
}
div:nth-child(2n+1){
    background-color: rgba(157, 29, 144,0.6);
    background-image: url(../../curs2/images/bucuresti.png);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 50%;
}
div p{
    color: blue;
    text-align: center;
}
div p span{
    color: red;
}